.home {
    background-image: url('../../../assets/images/form-bg.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    @include mobile() {
        padding-top: 50px;
    }
    .form-application {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $white;
        padding: 20px;
        box-shadow: 1px 0px 15px 0px $dark_charcoal;
        @include mobile() {
            position: unset;
            top: unset;
            left: unset;
            transform: unset;
            padding: 20px 56px;
        }
        h2 {
            text-align: center;
        }
        form {
            text-align: center;
            input {
                padding: 10px 20px 10px 0;
                margin: 10px;
                border: none;
                border-bottom: 1px solid $black;
            }
            input[type="submit"] {
                border: none;
                color: $white;
                background-color: $magenta_hs_mb;
                padding: 10px 70px;
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 1;
            }
            input[type="submit"]:hover {
                border: none;
                color: $white;
                background-color: $infectious_love;
                cursor: pointer;
            }
            .applicant-img-or-doc {
                margin: 20px 22px;
                text-align: left;
                .custom-file-upload {
                   cursor: pointer;
                }
            }
        }
        .success-message {
            text-align: center;
            color: $yellowgreen;
            font-size: 15px;
            border-bottom: 2px solid $yellowgreen;
            margin: 0 70px;
            padding: 20px 0 8px 0;
        }
    }
}